<Styled @bind-Classname="@_container">
    height: 100%;
    width: 100%;
    display: flex;
    background-color: rgb(150, 150, 150);
    justify-content: center;
    align-items: center;
</Styled>

<div class="@_container">
   @ChildContent
</div>

@code {
    private string _container;

    [Parameter] public RenderFragment ChildContent { get; set; }
}
