<Styled @bind-Classname="@container">
    width: 100%;
    height: 100%;
</Styled>

<div class="@container">
    <Attributes Title="Strength" />
    <Attributes Title="Dexterity" />
    <Attributes Title="Constitution" />
    <Attributes Title="Intelligence" />
    <Attributes Title="Wisdom" />
    <Attributes Title="Charisma" />
</div>

@code {
    private string container;
}
